.allSections {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__imagePhones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 32px;
    background-image: url(../images/phones_2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 380px;
    @media screen and (max-width: 768px) {
      display: none;
    }
    &--img {
      position: relative;
      background-image: url(../images/screenshot1.png);
      background-image: url(../images/screenshot2.png);
      background-image: url(../images/screenshot3.png);
      background-image: url(../images/screenshot4.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 210px;
      height: 100%;
      transform: translate(40px, 15px);
      animation: cambio 10s infinite alternate;
      animation-timing-function: ease-in-out;
    }
  }
}
@keyframes cambio {
  0% {
    background-image: url(../images/screenshot1.png);
  }
  0% {
    background-image: url(../images/screenshot1.png);
  }

  25% {
    background-image: url(../images/screenshot2.png);
  }
  45% {
    background-image: url(../images/screenshot2.png);
  }

  50% {
    background-image: url(../images/screenshot3.png);
  }

  70% {
    background-image: url(../images/screenshot3.png);
  }

  75% {
    background-image: url(../images/screenshot4.png);
  }
  100% {
    background-image: url(../images/screenshot4.png);
  }
}

.all {
  font-family: "Roboto", sans-serif;
  border: 1px solid rgb(192, 192, 192);
}
.header {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__img {
    width: 175px;
    margin-top: 47px;
    margin-bottom: 25px;
  }
}

.body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  &__sectionOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    margin-left: 47px;
    margin-right: 47px;
    margin-bottom: 21px;

    &__inputSubmit {
      width: 268px;
      height: 38px;
      background-color: #409eff;
      color: white;
      border-radius: 10px;
      border: 0px;
      font-size: 14px;
    }

    &__facebook {
      color: #00376b;
      display: flex;
      gap: 8px;
      &--text {
        font-size: 14px;
      }
    }

    &__forgottenPassword {
      color: #00376b;
      font-size: 12px;
    }
  }

  &__sectionTwo {
    border: 1px solid rgb(192, 192, 192);
    display: flex;
    gap: 5px;
    padding-left: 74px;
    padding-top: 23px;
    padding-right: 74px;
    padding-bottom: 23px;
    &--question {
      font-size: 14px;
    }
    &--link {
      font-size: 14px;
      text-decoration: none;
      color: #409eff;
      font-weight: bold;
    }
  }

  &__text {
    font-size: 14px;
    margin-bottom: 16px;
    margin-top: 16px;
  }

  &__sectionThree {
    display: flex;
    gap: 10px;

    &--appleImg {
      width: 136px;
      height: 44px;
    }

    &--googleImg {
      width: 136px;
      height: 44px;
    }
  }
}
