.allFeed{
    border: 1px solid rgb(255, 47, 241);

    &__feedProfile {
            height: 85vh;
            border: 1px solid greenyellow;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
    
            @media screen and (min-width:768px) {
                height: 100vh;
                width: 95vw;
                position: absolute;
                right: 0;
            }
        }
}



