.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(200, 200, 200);
    padding-bottom: 13px;

    &__logoImage{
        width: 103px;
        margin-left: 16px;
        margin-top: 17px;
    }

    &__searchPart{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:10px;
        &__box{
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: rgb(226, 226, 226);
            width: 215px;
            height: 30px;
            border-radius: 7px;
            margin-top: 10px;
            &--icon{
                color: rgb(134, 134, 134);
                padding-left: 10px;
                padding-right: 10px;
            }
            &--input{
                background: none;
                border: none;
                width: 200px;
                font-size: 14px;
            }
        }
        &__heartIcon{
            margin-left: 10px;
            margin-right: 16px;
            margin-top: 7px;
            font-size: 23px;
        }
    }
}