.arrowIcons{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-left: 60px;
    margin-right: 60px;
    width: 600px;
    color: white;
    position: relative;
    transform: translateY(78px);
}




.stories{
    display: flex;
    flex-direction: row;
    height: 100%;
    // width: 630px;
    // border: solid 1px blue;
    gap: 15px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 40px;
    //overflow-x: hidden;
    overflow-y: hidden;
}

.stories::-webkit-scrollbar{
    display: none;
}

.userList{
   &--img{
    width: 65px;
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
    border-image: url('../../images/circle.png') 3 fill;
    
   }
   &--text {
       text-align: center;
   }
}

