.stories{
    display: flex;
    flex-direction: row;
    height: 30%;
    // border: solid 1px blue;
    gap: 15px;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.infinite-scroll-component{
    overflow-x: hidden;
}

.userList{
   &--img{
    width: 65px;
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
    border-image: url('../../images/circle.png') 3 fill;
    
   }
   &--text {
       text-align: center;
   }
}

